<a href="https://colab.research.google.com/github/a3539a/Colab/blob/main/3_3_%ED%85%90%EC%84%9C%ED%94%8C%EB%A1%9C_iris_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
"""
날짜 : 2021/07/12
이름 : 김승용
내용 : 텐서플로 iris 실습하기
"""
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import mse
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from google.colab import drive
import tensorflow as tf
import numpy as np
import pandas as pd

In [21]:
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [22]:
# 학습데이터, 학습라벨
iris_data = df_iris[['sepal.length','sepal.width','petal.length','petal.width']]
iris_label = df_iris['variety']
iris_data.head(5)

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
# 원-핫 인코딩(문자열로 된 라벨을 0,1로 부호화)
encoder = LabelEncoder()
encoder.fit(iris_label)

transformed_label = encoder.transform(iris_label)
iris_label_cate = to_categorical(transformed_label)
iris_label_cate

In [24]:
# 학습데이터, 학습라벨 준비
train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label_cate)

In [25]:
# 학습모델 설계
model = Sequential()
model.add(Dense(units=4, input_dim=4, activation='sigmoid'))
model.add(Dense(units=3, activation='sigmoid'))

# 학습모델 요약
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 4)                 20
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 15
=================================================================
Total params: 35
Trainable params: 35
Non-trainable params: 0
_________________________________________________________________

In [30]:
# 학습모델 설정
# loss = 'mean_squared_error' : 수치예측
# loss = 'categorical_crossentropy' : 다중분류
# loss = 'binary_crossentropy' : 이진분류
model.compile(loss='categorical_crossentropy', optimizer='Adam', metrics=['acc'])

In [ ]:
# 학습하기
model.fit(train_data, train_label, epochs=1000)

In [32]:
#평가하기
result = model.evaluate(test_data, test_label)
result

2/2 [==============================] - 0s 7ms/step - loss: 0.2003 - acc: 1.0000

[0.20030388236045837, 1.0]