<a href="https://colab.research.google.com/github/a3539a/Colab/blob/main/6_%EC%84%9C%ED%8F%AC%ED%84%B0_%EB%B2%A1%ED%84%B0_%EB%A8%B8%EC%8B%A0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
"""
날짜 : 2021/07/07
이름 : 김승용
내용 : 서포터 벡터 머신 실습하기
"""
import pandas as pd
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from google.colab import drive

In [3]:
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
# 학습데이터
iris_data = df_iris[['sepal.length','sepal.width','petal.length','petal.width']]
iris_label = df_iris['variety']

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label)

In [13]:
# 학습하기
#model = svm.SVC()
model = LogisticRegression()
model.fit(train_data,train_label)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
# 테스트하기
result = model.predict(test_data)
result

array(['Versicolor', 'Virginica', 'Setosa', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Virginica', 'Setosa',
       'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Virginica',
       'Versicolor', 'Setosa', 'Versicolor', 'Setosa', 'Setosa',
       'Virginica', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Virginica', 'Setosa', 'Setosa',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Versicolor'], dtype=object)

In [15]:
# 성능평가(학습률)
score = metrics.accuracy_score(result, test_label)
score

0.9736842105263158