<a href="https://colab.research.google.com/github/a3539a/Colab/blob/main/9_RandomForest_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
"""
날짜 : 2021/07/09
이름 : 김승용
내용 : RandomForest 실습하기
"""
from google.colab import drive
from sklearn import model_selection, metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import seaborn as sns

In [4]:
# 데이터셋 확인
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [5]:
# 데이터셋 불러오기
df_iris = sns.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
# 학습 데이터 준비
iris_data = df_iris[['sepal_length','sepal_width','petal_length','petal_width']]
iris_label = df_iris['species']

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label)

In [11]:
# 학습하기
model = RandomForestClassifier()
model.fit(train_data,train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
# 테스트 하기
result = model.predict(test_data)
result

array(['virginica', 'virginica', 'virginica', 'virginica', 'versicolor',
       'virginica', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'setosa'], dtype=object)

In [15]:
score = metrics.accuracy_score(result, test_label)
score

1.0